@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;500&display=swap");

/* FIXME: Expected class selector ".bg_photo" to be kebab-case  */
.bg_photo {
  /* FIXME: Url should have quotes */
  background-image: url(../images/bg_photo_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* FIXME: Needs empty line */
.textbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  max-width: 400px;
}

.logoabout img {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  margin-left: 20%;
  padding-top: 30%;
  width: 80%;
}

.contacthere button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "oxanium";
  background-color: #39593e;
  color: #ece0c9;
  border: none;
  width: 300px;
  height: 70px;
  margin-left: 40px;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

.content {
  align-items: center;
}

.contacthere a {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .logoabout img {
    display: none;
  }

  .contacthere button {
    margin-left: 9px;
  }
}
