body {
  margin: 0;
}
.chosen_items {
  display: flex;
  border-radius: 4%;
}
.chosen_items > div > img {
  width: 20%;
}

.chosen_items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chosen_items > div {
  width: 80%;
  padding: 3%;
  margin: 3%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(95, 92, 84, 0.1);
  border-radius: 10px;
}

.cartshopmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  border-left: 1px solid #39593e;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  padding-right: 7%;
}

::placeholder {
  color: #8d8677;
  background-color: transparent;
  font-size: 15px;
  font-family: "roboto";
}

.form button,
.cartshopmore button {
  border: none;
  background-color: transparent;
  border: solid 2px;
  border-radius: 8px;
  color: #292c1e;
  padding: 15px 15px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

input {
  border: solid 2px;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.cardinfo a {
  text-decoration: none;
}

.positioning {
  display: flex;
  justify-content: space-around;
}

.content {
  margin-bottom: 15vh;
}

@media screen and (max-width: 768px) {
  .positioning {
    flex-direction: column;
  }
  .form {
    border: 0;
  }
}
