.chosen_items {
  display: flex;
  border-radius: 4%;
}
.chosen_items > div > img {
  width: 20%;
}

.chosen_items {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.chosen_items > div {
  width: 80%;
  padding: 3%;
  margin: 3%;
  display: flex;
  justify-content: space-around;
  background-color: #ece0c9;
  border-radius: 4%;
}

.cartshopmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50%;
  flex-wrap: wrap;
}

.cartshopmore button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "oxanium";
  background-color: #39593e;
  color: #ece0c9;
  border: none;
  width: 250px;
  height: 40px;
  margin-left: 20px;
  border-radius: 4%;
}

.cartshopmore a {
  text-decoration: none;
}

.form {
  border-left: 1px solid #39593e;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  padding-right: 7%;
}

::placeholder {
  color: #8d8677;
  background-color: #ece0c9;
  font-size: 15px;
  font-family: "roboto";
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "oxanium";
  background-color: #39593e;
  color: #ece0c9;
  border: none;
  width: 250px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 4%;
}

.cardinfo a {
  text-decoration: none;
}

.positioning {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .positioning {
    flex-direction: column;
  }
  .form {
    border: 0;
  }
}
