@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;500&display=swap");

input[type="text"] {
  font-family: "Oxanium";
  display: flex;
  width: 70vw;
  padding: 1.5vh;
  font-size: medium;
  margin: 10px;
  background-color: rgba(57, 89, 62, 0.4);
}

.message {
  height: 20vh;
}

input[type="submit"] {
  margin: auto;
  font-family: "Oxanium";
  display: flex;
  background-color: rgba(57, 89, 62, 0.4);
}

.contactform {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.bg_photo {
  background-image: url(../images/bg_photo_2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
