body {
  margin: 0;
}

html,
body {
  color: #292c1e;
}

main {
  background-image: url("/image/header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.header_section {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 10px;
}

h1 {
  font-size: 20px;
}

.header_group,
.help_group {
  margin: 100px;
}

.jackets_homepage_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jackets_homepage {
  display: flex;
  gap: 50px;
}

.jacket {
  text-align: center;
  background-color: rgba(95, 92, 84, 0.1);
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 300px;
  border-radius: 26px;
}
a {
  text-decoration: none;
  color: #292c1e;
}

a * p {
  font-weight: 600;
}

.jacket > img {
  height: 300px;
  margin: 3%;
  padding: 20px;
}

.help_section {
  background-image: url("/image/header2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

.help_buttons {
  width: 400px;
}

.help_group {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
}

.form_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.form_img {
  width: 300px;
  height: 460px;
  margin-top: 30px;
}

.form_all_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  gap: 50px;
}

.form_buttons_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features {
  background-image: url("/image/features.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 40px;
}

.embrace {
  display: grid;
  justify-content: space-evenly;
  margin-top: 40px;
}

.embrace_imgs {
  width: 300px;
}

.herocontainer {
  display: flex;
  justify-content: center;
  flex: wrap;
}
.btn_back {
  display: none;
}
.content {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  width: 20%;
  text-align: center;
}

.image-container {
  position: relative;
  width: 80%;
}

.hero {
  width: 95%;
  max-height: auto;
}

.activities {
  display: flex;
}

.activities img {
  width: 20%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

footer {
  display: flex;
  color: #ece0c9;
  background-color: #39593e;
  text-align: center;
  margin: 0%;
}

.btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
  padding: 7px;
  font-size: 16px;
  color: #39593e;
  background-color: #ece0c9;
}

@media screen and (max-width: 768px) {
  .activities img {
    width: 20%;
    object-fit: fill;
  }
  .container h3 {
    display: none;
  }
  .container {
    position: relative;
    text-shadow: 2px 0px #ffff;
    right: 50px;
    width: 300px;
  }

  h1 {
    display: flex;
    width: 200px;
    margin-left: -16vw;
  }

  h2 {
    display: flex;
    width: 200px;
    margin-left: -30vw;
  }

  .herocontainer {
    display: flex;
    justify-content: flex-start;
  }

  .hero {
    width: 100vw;
  }

  .menu {
    display: none;
  }

  .jackets_homepage {
    overflow: scroll;
    gap: 10px;
  }
  .jacket > button {
    display: none;
  }

  .jacket > img {
    height: 150px;
  }

  .jacket {
    background-color: #ece0c9;
    border-radius: 40px;
  }
  .btn {
    display: none;
  }
}
