.herocontainer {
  display: flex;
  justify-content: center;
  flex: wrap;
}
.btn_back {
  display: none;
}
.content {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  width: 20%;
  text-align: center;
}

.image-container {
  position: relative;
  width: 80%;
}

.hero {
  width: 95%;
  max-height: auto;
}

.jackets_homepage {
  display: flex;
  align-items: flex-end;
}

.jacket {
  text-align: center;
}

.jacket > img {
  height: 200px;
  margin: 3%;
}

.jacket > a > button {
  color: #ece0c9;
  font-family: Roboto-Medium;
  background-color: #39593e;
  text-align: center;
  width: 80px;
}

.activities {
  display: flex;
}

.activities img {
  width: 20%;
  justify-content: space-around;
  margin: auto;
  align-items: center;
}

footer {
  display: flex;
  color: #ece0c9;
  background-color: #39593e;
  text-align: center;
  margin: 0%;
}

h6 {
  margin-left: 50%;
}

.btn {
  position: absolute;
  bottom: 15px;
  left: 20px;
  padding: 7px;
  font-size: 16px;
  color: #39593e;
  background-color: #ece0c9;
}

@media screen and (max-width: 768px) {
  .activities img {
    width: 20%;
    object-fit: fill;
  }
  .container h3 {
    display: none;
  }
  .container {
    position: relative;
    text-shadow: 2px 0px #ffff;
    right: 50px;
    width: 300px;
  }

  .herocontainer {
    display: flex;
    justify-content: flex-start;
  }

  .hero {
    width: 100vw;
  }

  .menu {
    display: none;
  }

  .jackets_homepage {
    overflow: scroll;
    gap: 10px;
  }
  .jacket > button {
    display: none;
  }

  .jacket > img {
    height: 150px;
  }

  .jacket {
    background-color: #ece0c9;
    border-radius: 40px;
  }
  .btn {
    display: none;
  }

  h6 {
    display: none;
  }
}
