body {
  margin: 0;
}

.jacket > img > {
  width: 110px;
  background-color: #ece0c9;
}

.jackets_shop {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 182px;
  justify-content: center;
  align-items: stretch;
}

.jacket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 120px;
  border-radius: 10%;
  padding: 3%;
  gap: 1em;
  text-align: center;
}

.figure {
  background-color: #ece0c9;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 4%;
}

.jacket button {
  flex: 1;
  height: 27px;
  width: 60px;
  margin: auto;
  color: #ece0c9;
  background-color: #39593e;
  border: none;
  border-radius: 5px;
}

@media (min-width: 600px) {
  .jacket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 280px;
  }
}
