body {
  margin: 0;
}

.header_shop {
  background-image: url("/image/header_forher.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
}

h2 {
  display: flex;
  color: white;
  font-family: "roboto";
}

.h2 {
  display: flex;
  justify-content: right;
  margin-top: 500px;
  margin-right: 60px;
}

.jackets_homepage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px;
  gap: 30px;
  justify-content: center;
}

.jacket {
  text-align: center;
  background-color: rgba(95, 92, 84, 0.1);
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 300px;
  border-radius: 26px;
}
a {
  text-decoration: none;
  color: #292c1e;
}

a * p {
  font-weight: 600;
}

.jacket > img {
  height: 300px;
  margin: 3%;
  padding: 20px;
}

h3 {
  margin-left: 50px;
  margin-top: 50px;
}
