footer {
  display: none;
}

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    color: #ece0c9;
    background-color: #39593e;
    text-align: center;
    margin: 0%;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 60px;
  }

  .nav_bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav_bottom img {
    width: 8vw;
  }
}

/* 
Kopier denne:
<footer>
<div class="nav_bottom">
  <a href="index.html" 
><img src="images/btn_1.png"> 
  <a href="jackets.html"
  ><img src="images/btn_2.png">
  <a href="cart.html"
  ><img src="images/btn_3.png">
  <a href="cart.html"
  ><img src="images/btn_4.png">
  <a href="contact.html"
  ><img src="images/btn_5.png">
</div>
</footer> 
*/
