.topnav_phone {
  display: none;
}

@media screen and (max-width: 768px) {
  .content {
    margin-bottom: 20%;
  }
  .topnav_phone {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .topnav_left {
    display: flex;
    margin-left: 6%;
    margin-top: 5%;
    gap: 5vw;
  }

  .headerlogo_green {
    max-width: 20vw;
  }

  .btn_back {
    height: 10vw;
  }

  .topnav_right {
    display: flex;
    padding-left: 1vw;
    padding-right: 3vw;
    font-size: 1.5em;
    gap: 5vw;
    padding-top: 3vh;
  }

  .topnav_right > a {
    text-decoration: none;
    color: #39593e;
  }
}

/* KOPIER DENNE */
/* <header>
<div class="topnav">
  <div class="topnav_left">
  <a href="index.html"
  ><img
        src="images/RainyDays_Logo_green.png"
        alt="Rainy Days, pushing the comfort zone"
        class="headerlogo_green">
  <a href="index.html"
  ><img src="images/btn_back.png" alt="Back" class="btn_back">
  </div>
<div class="topnav_right">
  <a href="contact.html">ABOUT</a>
  <a href="jackets.html">SHOP</a>
</div>
</div>
</header> */
