.product_img {
  width: 40vw;
}

h1 {
  color: #39593e;
}

.spesific_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spesific_info > div {
  width: 40%;
  margin: auto;
}

button {
  color: #39593e;
  background-color: #ece0c9;
  height: 35px;
  min-width: 35px;
}

.recommendation {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.recommendation > h2 {
  display: flex;
  flex-direction: column;
}

.recommendation > img {
  width: 15%;
}

.other_viewed {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .spesific_info {
    flex-direction: column;
  }
  .spesific_info > div {
    width: 60%;
    margin: auto;
  }
  .recommendation {
    display: none;
  }
  .divider {
    display: none;
  }
  .other_viewed {
    display: none;
  }
}
