.product_img {
  width: 40vw;
}

h1 {
  color: #39593e;
}

.button_spesific {
  border: none;
  margin: auto;
  color: aquamarine;
}

.spesific_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.spesific_info > div {
  width: 40%;
  margin: auto;
}

.recommendation {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.recommendation > img {
  width: 15%;
}

@media screen and (max-width: 768px) {
  .spesific_info {
    flex-direction: column;
  }
  .spesific_info > div {
    width: 60%;
    margin: auto;
  }
  .recommendation {
    display: none;
  }
  .divider {
    display: none;
  }
}
